<header class="bg-gray-800 text-white p-4">
  <h1 class="text-xl font-semibold">Inventory Management</h1>
  <nav class="flex justify-around">
    <a href="/" class="">Home</a>
    <a href="/items" class="">Items</a>
    <a href="/categories">categories</a>
  </nav>
</header>
